*{
    margin: 0;
    padding: 0;
}


header{
    position: relative;
    width: 100%;
    height: 70px;
    background:  #FFB300;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 4%;
    width: 30%;
    justify-content: space-evenly;

}

.brand h1{
    margin-left: 5%;
    font-size: 35px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    position: relative;
    width: 70%;
    padding: 5%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.searchBox {
    position: relative;
    width: 40%;
    height: 20%;
    padding-bottom: 18px;
}

.searchBox input{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 1%;
    text-indent: 10px;
    font-size: 12px;
}

#searchIcon{
    position: relative;
    left: -30px;
    color: rgb(4, 4, 4);
    font-size: 15px;

}

ul{
    width: 50%;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}



ul li {
    display: inline-block;
    margin-left: 4%;
    transition: all 0.5s ease;
    padding-top: 4px;
    text-align: center;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    
    
}

ul li:hover{
    height:40px;
    color: rgb(8, 55, 207);
}

ul li a {
     color: white;
     text-decoration: none;
     font-size: 16px;
     padding: 2% 3%;
     display: inline-block;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


ul li i {
    display: block;
     
}



ul li a:active,  
:focus {
    text-decoration: underline;
    font-weight: 700;
}


.brand fa-github{
    font-size: 35px;

}

.brand  {
    font-size: 35px;
    
}

.wrapper{
    width: 100%;
}

.img-banner{
    display: block;
    width: 100%;
    height: auto;
}

.img-info{
    width: 100%;
}

.img-info h2{
    padding: 30px 30px 20px;
    font-family: Arial;
    font-size: 50px;
    color: #FFB300;
    line-height: 44px;
}

.img-info p{
    padding: 0px 30px 20px;
    font-family: Arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

.img-me{
    width: 100%;
}

#menuIcon{
    display: none;
}

@media only screen and (max-width: 810px) {
 
 #body{
     width: 100%;
     height: auto;
    position:absolute;
    display: block;
 }
    .top{
    width: 100%;

 }

 .brand{
    width: 100% ;
    display: flex;
    position: relative;
 }

 .brand h1 {
    font-size: 20px;
    
 }
   
    .img-banner{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.img-info h2{
    padding: 10px 10px 0px;
}

.img-info p{
    padding: 5px 0px 0px;
}

.img-me{
  padding-top: 0px;
}

.navbar{
    position: relative;
    display: block;
    width: 100%;
    display: none;

}

.navbar.navactive{
    display: inline;
}

#nav .navactive {
    display: block !important;
}

.searchBox{
    position: relative;
    width: 100%;
    top: 60px;
    z-index: 221;
    left: 5%;
}

#menuIcon{
    display: inline;
    position: fixed;
    left: -50px;
    font-size: 25px;
    margin-left: 88%;
    z-index: 222;
    padding: 2%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid gray;
}

.navbar ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #111;
    
}


.navbar ul li{
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    text-align: left;
    position: relative;
    top: 50px;
    padding: 2px;

}

ul li i {
    display: inline-block;
    font-size: 22px;

}


ul li :hover{
    background: #101a1c;
    color: aquamarine;
}


ul li a{
    margin-left: 40px;
    font-family: 600;
}

}


@media only screen and (min-width: 1000px) {
  
  
    .wrapper{
    width: 1000px;
}

.img-info {
    width: 50%;
    float: right;
}

.img-info h2{
    padding: 20px 0px 0px 30px;
}

.img-info p{
    padding: 20px 0px 0px 30px;
}

.img-me{
  padding-top: 0px;
  width: 50%;
  float: left;
}

}

